# Backend (Spring Boot)
Backend/target/
Backend/.mvn/
Backend/mvnw
Backend/mvnw.cmd
*.jar

# Frontend (Angular)
Frontend/gestionProdfrontend/node_modules/
Frontend/gestionProdfrontend/dist/
Frontend/gestionProdfrontend/.angular/
Frontend/gestionProdfrontend/*.log

# Docker
*.tar
*.log
.env

# IDE and Editor
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.springBeans
.sts4-cache

# General
.DS_Store
